.communication-tabs-container {
    margin: 20px;
    border: 1px;
    border-color: black;
    border-style: groove;
    padding: 20px;
}

.all-tab {
    padding: 20px;
}

.load-image {
    background-image: url(../../../public/images/Paperclip.png);
}